
<div ng-controller='inboxCtrl'>
  <h2>Boite d'envoie</h2>
           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sender</th>
        <th>Object</th>
        <th>Description</th>
         <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "mail in mails">
        <td>{{mail.sender}}</td>
        <td>{{mail.description}}</td>
        <td>{{mail.subject}}</td>
        <td>{{mail.dateSent}}</td>
       
      </tr>

    </tbody>
  </table>
  
  </div>